h1 {
    text-align:center
}

h2 {
    margin-left:20px;
}

#draft{
    display:inline-block;
    vertical-align:top;
    margin-left:20px;
    border:2px solid black;
    border-radius:8px;
    padding:5px;
}

#draft h3 {
    display:inline-block;
    margin-right:330px;
}

#draft table{
    display:block;
    height:400px;
    overflow-y: scroll;
    text-align:center;
}

#draft table thead{
    text-align:center;
    padding:0px;
}

#team{
    display:inline-block;
    vertical-align:top;
    margin-left:20px;
    text-align:center;
    border:2px solid black;
    height:300px;
    overflow-y:scroll;
    border-radius:8px;
    padding:5px;
}

#drafted{
    display:inline-block;
    vertical-align:top;
    margin-left:20px;
    text-align:center;
    border:2px solid black;
    height:300px;
    overflow-y:scroll;
    border-radius:8px;
    padding:5px;
}